body {

  background-color: rgb(82, 3, 36);
}


/* CSS */
.btnAllStudents,
.btnAllStudents:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.btnAllStudents:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.btnAllStudents:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
    .btnAllStudents,
    .btnAllStudents:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

.btnAllStudents{
    padding-left: 20px;
}



.header {
    font-family:sans-serif;
    padding: 30px; 
    text-align: center;
    background: #092b24;
    color: white;
    font-size: 30px;
  }

  #AllStudent{
    padding-left: 20px;
  }




  .btnAllStudents {
    text-align:justify;
  }
  .btnAllStudents:after {
    content:'';
    display:inline-block;
    width:99.5%;/* generates an extra transparent line */
  }
  /* makeup*/
  .btnAllStudents {
    min-width:25em;
    padding: 0em 1em 0;
    box-shadow:0 0 5px;
    margin:3.2em;
    border-radius:0.25em;
  }


  #table1 {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #686867;
  }
  
  #table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table1 tr:nth-child(even){background-color: #f2f2f2}
  
  #table1 tr:hover {background-color: #FF013C}
  
  #table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF013C ;
    color: white;
  }


  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .SubmitButton {
    width: 100%;
    background-color: #010c02;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  #div1 {
    border-radius: 25px;
    background-color: #FF013C;
    padding: 20px;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
  }

  legend{
    font-size:2em;
    font-family:'Bebas Neue', sans-serif ;
    border-style: none;
    color: white;
  }

  label{
    font-size:1.2em;
    font-family:'Bebas Neue', sans-serif ;
    border-style: none;
    color: rgb(255, 255, 255) ;
  }

  fieldset{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 50%;
    text-align: center;
    margin-left: 300px;
  }

  #fieldset1{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: 50%;
    text-align: center;
    margin-left: 250px;
  }

  .form {
    display: inline-block;
}

.form1 {
  display: inline-block;
}
    


/*This is the table CSS*/